<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <title>@ViewBag.Title - PizzeriaOnline</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @Scripts.Render("~/Content/jquery-ui.min.css")
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("PizzeriaOnline", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Menu", "Index", "Menu")</li>
                        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Admin Panel", "Index", "Admin")</li>
                        }
                        @if (User.IsInRole("Pracownik"))
                        {
                            <li>@Html.ActionLink("Kategorie", "Index", "Kategorie")</li>
                            <li>@Html.ActionLink("Produkt", "Index", "Produkty")</li>
                            <li>@Html.ActionLink("Zamowienia", "Index", "Zamowienia")</li>
                            <li>@Html.ActionLink("Adres", "Index", "Adres")</li>
                            <li>@Html.ActionLink("ZamowieniaProdukt", "Index", "ZamowieniaProdukt")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                    @Html.Partial("_Menu")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />

            <footer>
                <p>&copy; @DateTime.Now.Year Maciej Penar - Aplikacja ASP.NET</p>
            </footer>



        </div>

        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
